name: Release

on:
  release:
    types: [created]

jobs:
  release:
    runs-on: ubuntu-latest
    name: Create Release

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick

      - name: Install dependencies
        run: composer install --prefer-dist --no-interaction

      - name: Run tests
        run: vendor/bin/phpunit

      - name: Create Archive
        run: |
          mkdir -p release
          zip -r release/laravel-sms.zip . -x "*.git*" -x "*vendor*" -x "*.github*" -x "*tests*" -x "*.idea*" -x "*.vscode*" -x "*.DS_Store*"

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./release/laravel-sms.zip
          asset_name: laravel-sms.zip
          asset_content_type: application/zip

